<!--
 * CST-236
 * Author: Brydon Johnson
 * Date: 2/28/21
 * 
 * Register.html: 
 *    contains user registration form
 *    
 *    
 *    -->
<div class="container-fluid pt-4 d-flex justify-content-center">
  <form
    style="width: 24rem"
    class="card px-4 py-3"
    action="../../handlers/register/registerHandler.php"
    method="POST"
  >
    <div class="mb-3">
      <label for="FirstName" class="form-label">First Name: </label>
      <input type="text" class="form-control" id="FirstName" name="FirstName" />
    </div>
    <div class="mb-3">
      <label for="LastName" class="form-label">Last Name: </label>
      <input type="text" class="form-control" id="LastName" name="LastName" />
    </div>
    <div class="mb-3">
      <label for="Username" class="form-label">Username: </label>
      <input type="text" class="form-control" id="Username" name="Username" />
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password: </label>
      <input type="text" class="form-control" id="Password" name="Password" />
    </div>

    <div class="mb-3">
      <label for="Role" class="form-label">Role: </label>
      <select class="form-select form-select-sm mb-3" id="Role" name="Role">
        <option selected>Open this select menu</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
